
body{
    font-family: 'Unbounded', cursive;    
    margin: auto;
    width: 90%;
}

header{
    text-align: center;
}

h1{
    color: #E53170;
}

.box{
    background-color: black;
    width: 30%;
    margin: 20px 10px 20px 10px;
    color: white;
    float: left;
    box-shadow:  0px 0px 10px 1px #060606;   
}

.clearBoth{
    clear: both;
}

img{
    margin-right: 10px;
    float: left;
    height: 110px;
}

.mail:hover{
    color: aqua;
}